{% load static %}
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--favicon-->
	<link rel="icon" href="{% static 'images/sportmall.png' %}" type="image/png" />
	<!--plugins-->
	<link href="{% static 'plugins/OwlCarousel/css/owl.carousel.min.css'  %}" rel="stylesheet" />
	<link href="{% static 'plugins/simplebar/css/simplebar.css'  %}" rel="stylesheet" />
	<link href="{% static 'plugins/perfect-scrollbar/css/perfect-scrollbar.css'  %}" rel="stylesheet" />
	<link href="{% static 'plugins/metismenu/css/metisMenu.min.css'  %}" rel="stylesheet" />
	<!-- loader-->
	<link href="{% static 'css/pace.min.css'  %}" rel="stylesheet" />
	<script src="assets/js/pace.min.js"></script>
	<!-- Bootstrap CSS -->
	<link href="{% static 'css/bootstrap.min.css'  %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
	<link href="{% static 'css/app.css'  %}" rel="stylesheet">
	<link href="{% static 'css/icons.css'  %}" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
	<title>SportMart | Home</title>
</head>

<body class="bg-theme bg-theme9">	<b class="screen-overlay"></b>
	<!--wrapper-->
	<div class="wrapper">
		<!--start top header wrapper-->
		{% include 'app/user-head.html' %}
		<!--end top header wrapper-->
		<!--start page wrapper -->
		<div style="background-color: oldlace;">
			<div class="alert alert-dismissible fade show shadow-none rounded-0 mb-0 border-bottom">
				<div class="d-lg-flex align-items-center gap-2 justify-content-center">
					<strong style="color: black;">
						Wear mask, Stay Safe & Wash Your Hand 
					</strong>
					<!-- <p style="color: black;">Get Up to <strong>40% OFF</strong> New Sell Is Come</p>
					<p style="color: brown;">*Limited time only</p><br> -->
				</div>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
		<div class="page-wrapper">
			<div class="page-content">
				<!--start information-->
				<section class="py-3 border-top border-bottom">
					<div class="container">
						<div class="row row-cols-1 row-cols-lg-3 row-group align-items-center">
							<div class="col p-3">
								<div class="d-flex align-items-center">
									<div class="fs-1 text-white">	<i class='bx bx-taxi'></i>
									</div>
									<div class="info-box-content ps-3">
										<h6 class="mb-0">FREE SHIPPING &amp; RETURN</h6>
										<p class="mb-0">Free shipping on all orders over ₹ 49</p>
									</div>
								</div>
							</div>
							<div class="col p-3">
								<div class="d-flex align-items-center">
									<div class="fs-1 text-white">	<i class='bx bx-dollar-circle'></i>
									</div>
									<div class="info-box-content ps-3">
										<h6 class="mb-0">MONEY BACK GUARANTEE</h6>
										<p class="mb-0">100% money back guarantee</p>
									</div>
								</div>
							</div>
							<div class="col p-3">
								<div class="d-flex align-items-center">
									<div class="fs-1 text-white">	<i class='bx bx-support'></i>
									</div>
									<div class="info-box-content ps-3">
										<h6 class="mb-0">ONLINE SUPPORT 24/7</h6>
										<p class="mb-0">Awesome Support for 24/7 Days</p>
									</div>
								</div>
							</div>
						</div>
						<!--end row-->
					</div>
				</section>
				<!--end information-->
				<!--start pramotion-->
				<section class="py-4">
					<div class="container">
						<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
							<div class="col">
								<div class="card rounded-0">
									<div class="row g-0 align-items-center">
										<div class="col">
											<img src="{% static 'images/promo/05.png' %}" class="img-fluid" alt="" />
										</div>
										<div class="col">
											<div class="card-body">
												<h5 class="card-title text-uppercase">Indoor Sports Games</h5>
												<p class="card-text text-uppercase">Starting at ₹ 199</p>	<a href="javascript:;" class="btn btn-light btn-ecomm">SHOP NOW</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card rounded-0">
									<div class="row g-0 align-items-center">
										<div class="col">
											<img src="{% static 'images/promo/07.png' %}" class="img-fluid" alt="" height="200" />
										</div>
										<div class="col">
											<div class="card-body">
												<h5 class="card-title text-uppercase">Outdoor Sports Games</h5>
												<p class="card-text text-uppercase">Starting at ₹ 499</p>	<a href="javascript:;" class="btn btn-light btn-ecomm">SHOP NOW</a>
											<br>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card rounded-0">
									<div class="row g-0 align-items-center">
										<div class="col">
											<img src="{% static 'images/promo/06.png' %}" class="img-fluid" alt="" />
										</div>
										<div class="col">
											<div class="card-body">
												<h5 class="card-title text-uppercase">	PC & RPG Games</h5>
												<p class="card-text text-uppercase">Starting at ₹ 299</p>	<a href="javascript:;" class="btn btn-light btn-ecomm">SHOP NOW</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--end row-->
					</div>
				</section>
				<!--end pramotion-->
				<hr>
				<!--start shop area-->
				<section class="py-4">
					<div class="container">
						<div class="row">
							<div class="col-12 col-xl-12">
								<div class="product-wrapper">
									<!--start product show area-->
									{% for i in pro %}
									<div class="product-wrapper">
										<div class="row">
											<div class="col-12 col-xl-12">
												<div class="product-grid">
													<div class="card rounded-0 product-card">
														<div class="row g-0">
															<div class="col-md-4">
																<img src="{{MEDIA_URL}}{{i.Product_Image.url}}" class="img-fluid"  style="margin-top: 30px; margin-bottom: 30px; margin-left: 50px; margin-right: 10px;" height="200" width="150">
															</div>
															<div class="col-md-8">
																<div class="card-body">
																	<div class="product-info">
																		<a href="javascript:;">
																			<p class="product-catergory font-13 mb-1">{{i.Product_Category}}</p>
																		</a>
																		<a href="javascript:;">
																			<h6 class="product-name">{{i.Product_Name}}</h6>
																			<input type="hidden" class="product-name" value="{{i.Product_Name}}">
																		</a>
																		<p class="product-title">{{i.Product_Title}}</p>
																		<input type="hidden" class="product-title" value="{{i.Product_Title}}">
																		<div class="d-flex align-items-center">
																			<div class="product-mrp"> <span class="me-1 text-decoration-line-through">₹ {{i.Product_MRP}}</span>
																				<span class="text-white fs-5 product-price">₹ {{i.Product_Price}}</span>
																				<input type="hidden" class="product-price" value="{{i.Product_Price}}">																				
																			</div>
																			<div class="cursor-pointer ms-auto">
																				<i class="bx bxs-star text-warning"></i>
																				<i class="bx bxs-star text-warning"></i>
																				<i class="bx bxs-star text-warning"></i>
																				<i class="bx bxs-star text-warning"></i>
																				<i class="bx bxs-star text-light-4"></i>
																			</div>
																		</div>
																		<div class="product-action mt-2">
																			<div class="d-flex gap-2"><a href="{% url 'ushowprd' pk=i.id %}" title="View Product" class="btn btn-light btn-ecomm"><i class='bx bx-zoom-in'></i>View Product</a>
																				<a href="" title="Add To Cart" class="btn btn-light btn-ecomm"> <i class="bx bx-cart"></i>Add To Cart</a>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<hr>
												</div>
											</div>
													
										</div>
										<!--end-->
									</div>
									{% endfor %}
									<!--end product show area-->
									<hr>
									<nav class="d-flex justify-content-between" aria-label="Page navigation">
										<ul class="pagination">
											<li class="page-item"><a class="page-link" href="javascript:;"><i class='bx bx-chevron-left'></i> Prev</a>
											</li>
										</ul>
										<ul class="pagination">
											<li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">1<span class="visually-hidden">(current)</span></span>
											</li>
											<li class="page-item d-none d-sm-block"><a class="page-link" href="javascript:;">2</a>
											</li>
											<li class="page-item d-none d-sm-block"><a class="page-link" href="javascript:;">3</a>
											</li>
											<li class="page-item d-none d-sm-block"><a class="page-link" href="javascript:;">4</a>
											</li>
											<li class="page-item d-none d-sm-block"><a class="page-link" href="javascript:;">5</a>
											</li>
										</ul>
										<ul class="pagination">
											<li class="page-item"><a class="page-link" href="javascript:;" aria-label="Next">Next <i class='bx bx-chevron-right'></i></a>
											</li>
										</ul>
									</nav>

								</div>
							</div>
						</div>
						<!--end row-->
					</div>
				</section>
				<!--end shop area-->
				<hr>
				<!--start support info-->
				<section class="py-4 bg-dark-1">
					<div class="container">
						<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 row-group">
							<div class="col">
								<div class="text-center">
									<div class="font-50 text-white">	<i class='bx bx-cart'></i>
									</div>
									<h2 class="fs-5 text-uppercase mb-0">Free delivery</h2>
									<p class="text-capitalize">Free delivery over ₹ 199</p>
								</div>
							</div>
							<div class="col">
								<div class="text-center">
									<div class="font-50 text-white">	<i class='bx bx-credit-card'></i>
									</div>
									<h2 class="fs-5 text-uppercase mb-0">Secure payment</h2>
									<p class="text-capitalize">We possess SSL / Secure сertificate</p>
								</div>
							</div>
							<div class="col">
								<div class="text-center">
									<div class="font-50 text-white">	<i class='bx bx-dollar-circle'></i>
									</div>
									<h2 class="fs-5 text-uppercase mb-0">Free returns</h2>
									<p class="text-capitalize">We return money within 30 days</p>
								</div>
							</div>
							<div class="col">
								<div class="text-center">
									<div class="font-50 text-white">	<i class='bx bx-support'></i>
									</div>
									<h2 class="fs-5 text-uppercase mb-0">Customer Support</h2>
									<p class="text-capitalize">Friendly 24/7 customer support</p>
								</div>
							</div>
						</div>
						<!--end row-->
					</div>
				</section>
				<!--end support info-->
			</div>
		</div>
		<!--end page wrapper -->
		<!--start footer section-->
		{% include 'app/S-foot.html' %}
		<!--end footer section-->
		<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->
	</div>
	<!--end wrapper-->
</body>
	<!-- Bootstrap JS -->
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
	<!--plugins-->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'plugins/simplebar/js/simplebar.min.js' %}"></script>
	<script src="{% static 'plugins/OwlCarousel/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'plugins/OwlCarousel/js/owl.carousel2.thumbs.min.js' %}"></script>
	<script src="{% static 'plugins/metismenu/js/metisMenu.min.js' %}"></script>
	<script src="{% static 'plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
	<!--app JS-->
	<script src="{% static 'js/app.js' %}"></script>
	<script src="{% static 'js/index.js' %}"></script>
</html>